@model CommonLayer.Models.Employee


<table class="table table-responsive">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr>
        <th>1</th>
        <th>Lokesh</th>
    </tr>
</table>